@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet');

* {
    margin: 0;
    font-family: "Quicksand";
    text-align: center;
    color: #333;
}

